@media (min-width:0px) and (max-width:1024px)
{
    .box1{
        display: none;
    }
    .box3{
        display: none;
    }
    .nav1{
        display: block;
    }
    #head2{
        display: block;
    }
    #b1{
        font-size: 20px;
      }

      .box6 div{
        text-align: center;
        /* padding-top: 20px; */
        padding-left: 20px;
        padding-right:20px;
        /* border: 1px solid; */
    }

    .main3{
        margin-top: 150px;
    }
}